#Dog {
  background-image: url("FakeCompanyMedia/DogWithSting.JPG");
  background-repeat: none;
  color: white;
  
}
#title{
  text-align: center;
}
#HQ{
  text-align: center;
}
body{
  background-color: #f5e478;
  color: #8f8e8c;
}
a:link{
  background-color: red;
  color: white;
}
a:hover{
  background-color: blue;
  color: lime;
}
img.left{
  height:75px;
  width:50px; 
  float: left;
  box-shadow: 5px 5px grey;
  border-radius: 5px;
}
img.right{
  height:75px;
  widht:50px;
  float: right;
  box-shadow: 5px 5px grey;
  border-radius: 5px;
}
