#Dog {
  background-image: URL("FakeCompanyMedia/DogWithSting.JPG");
  color: white;
  background-repeat: none;
}
#title{
  text-align: center;
}
body{
  backgroung-color: #f5e478;
  color: #8f8e8c;
}
a:link{
  background-color: blue;
  color: white;
}
a:hover{
  background-color: blue;
  color: lime;
}
img.left{
  float: left;
  box-shadow: 5px 5px grey;
  border-radius: 5px;
}
img.right{
  float: right;
  box-shadow: 5px 5px grey;
  border-radius: 5px;
}
